.main {
    border-bottom: #333 1px solid;
    padding: 30px;
}

span.genre:not(:nth-child(2)) i::before {
    content: ", "
}

.album {
    background: #333;
    padding: 10px 20px;
    border: #666 1px solid;
}

.album-thumb {
    width: 100%;
}

